// $color-theme: #339999;
// $color-danger: #ff0000;
// $color-gray: #cccccc;
$word-main:#333; //字体主颜色
$word-second:#9B9B9B; //字体介绍颜色 圆圈颜色 tabs颜色
$word-price:#F64848; //产品价格颜色
$word-xuanzhong:#F6C048; //选中
$word-weixuanzhong:#979797; //圆环未选中
$cart-weixuanzhong:#9B9B9B; //购物车未选中
$cart-xuanzhong:#F76037; //购物车选中